<div class="containerInfo">
  <div class="container" style="margin-top: 8%;">
    <div class="row">
      <div class="col-10">
        <h2 class="text">Proveedor</h2>
        <form action="/proveedor/new-proveedor" method="POST" class="needs-validation" novalidate>
          <div class="form-row" style="margin-top: 5%;">
            <div class="col-md-4 mb-3">
              <label for="proveedor">Código Proveedor</label>
              <input name="codigoProveedor" type="text" class="form-control" id="proveedor" required>
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationCedula">Cédula</label>
              <div class="input-group">
                <input name="PuntosReOrden" type="text" class="form-control" id="validationCedula"
                  aria-describedby="inputGroupPrepend" required>
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="nombreProveedor">Nombre Proveedor</label>
              <div class="input-group">
                <input name="PuntosReOrden" type="text" class="form-control" id="nombreProveedor"
                  aria-describedby="inputGroupPrepend" required>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <div class="select">
                <label>
                  Código Materia Prima
                  <br>
                  <select name="selectCMT">
                    <option value="1">Solido</option>
                    <option value="2">Liquido</option>
                    <option value="3">Gas</option>
                    <option value="4">Químicos</option>
                  </select>
                </label>
              </div>

            </div>
            <!--Falta Codigo Materia Prima-->
          </div>
          <button class="btn btn-primary" type="submit">Agregar</button>

        </form>

        <table class="table" style="margin-top: 10%;">
          <thead class="thead-light">
            <tr>
              <th scope="col">Codigo de Producto</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Punto de Reorden</th>
              <th scope="col">Unidad de Medida</th>
              <th scope="col">Codigo de Materia Prima</th>
            </tr>
          </thead>
          <tbody>
            {{#each productos}}
            <tr>
              <td>{{ this.CodigoProveedor }}</td>
              <td>{{ this.Descripcion }}</td>
              <td>{{ this.PuntosReOrden }}</td>
              <td>{{ this.UnidadDeMedida }}</td>
              <td>{{ this.CodigoMateriaPrima }}</td>
              <td class="btn btn-warning button-form" type="submit"><a href="/productos/edit/{{_id}}">Modificar</a></td>
              <form action="/productos/delete/{{_id}}?_method=DELETE" method="POST"
                enctype="application/x-www-form-urlencoded">
                <td class="btn btn-danger button-form" type="submit">
                  <input type="hidden" name="_method" value="DELETE">
                  <button type="submit" class=" btn-danger button-form">Delete</button>
                </td>
              </form>
            </tr>
            {{else}}
          </tbody>
        </table>
        <div class="row">
          <div class="card mx-auto">
            <div class="card-body">
              <h1>Hola {{user.name}}</h1>
              <p clsss="lead">Aún no hay proveedores creados</p>
              <a class="btn btn-success btn-block">Crea Uno!</a>
            </div>
          </div>
          {{/each}}
        </div>
        <script>
          // Example starter JavaScript for disabling form submissions if there are invalid fields
          (function () {
            'use strict';
            window.addEventListener('load', function () {
              // Fetch all the forms we want to apply custom Bootstrap validation styles to
              var forms = document.getElementsByClassName('needs-validation');
              // Loop over them and prevent submission
              var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                  if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                  }
                  form.classList.add('was-validated');
                }, false);
              });
            }, false);
          })();
        </script>
      </div>
    </div>
  </div>
</div>
</div>