<div class="containerInfo">
  <div class="container" style="margin-top: 8%;">
    <div class="row">
      <div class="col-10">
        <h2 class="text">Productos (Maestro)</h2>
        <form action="/productos/edit-producto/{{producto._id}}?_method=PUT" method="POST" novalidate>
          <div class="form-row" style="margin-top: 5%;">
            <!--<div class="col-md-4 mb-3">
              <label for="validationCustom01">Codigo del Producto (Lo calcula el sistema)</label>
              <input name="CodigoProducto" type="number" class="form-control" id="validationCustom01" required>
            </div>-->
            <div class="col-md-4 mb-3">
              <label for="validationCustom02">Descripcion</label>
              <input name="Descripcion" type="text" class="form-control" id="validationCustom02" value="{{producto.Descripcion}}" required>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label for="validationCustomUsername">Punto de Reorden</label>
              <div class="input-group">
                <input name="PuntosReOrden" type="text" class="form-control" id="validationCustomUsername"
                  aria-describedby="inputGroupPrepend" value="{{producto.PuntosReOrden}}" required>
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationCustom03">Unidad de Medida</label>
              <input name="UnidadDeMedida" type="text" class="form-control" id="validationCustom03" value="{{producto.UnidadDeMedida}}" required>
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationCustom03">Código Materia Prima</label>
              <input name="CodigoMateriaPrima" type="number" class="form-control" id="validationCustom03" value="{{producto.CodigoMateriaPrima}}" required>
            </div>
            <!--Falta Codigo Materia Prima-->
          </div>
          <button class="btn btn-primary" type="submit">Editar</button>
        </form>
        <script>
          // Example starter JavaScript for disabling form submissions if there are invalid fields
          (function () {
            'use strict';
            window.addEventListener('load', function () {
              // Fetch all the forms we want to apply custom Bootstrap validation styles to
              var forms = document.getElementsByClassName('needs-validation');
              // Loop over them and prevent submission
              var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                  if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                  }
                  form.classList.add('was-validated');
                }, false);
              });
            }, false);
          })();
        </script>
      </div>
    </div>
  </div>
</div>
</div>